{
  "parser": "@typescript-eslint/parser",
  "env": { "node": true, "browser": true, "es6": true },
  "settings": { "react": { "version": "detect" } },
  "parserOptions": {
    "project": ["./tsconfig.json", "./packages/**/tsconfig.json"],
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/recommended"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-explicit-any": 2,
    "no-console": 0,
    "import/order": ["error", { "alphabetize": { "order": "asc" }, "groups": [["builtin", "external", "internal"]] }],
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "react/no-unescaped-entities": 0,
    "react/prop-types": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 0
  }
}
