.vscode/
.DS_Store
npm-debug.log
*.log
Untitled*
.idea
.env
**/.wakatime-project
node_modules

# yarn
.yarn
.pnp.js

# api
packages/api/database/
packages/api/config.json
packages/api/dist

# ui
packages/ui/.next
